<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            padding: 150px 100px 0px 400px;
        }
    </style>
</head>

<body>
    <form action="signup" method="POST">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>
                    <label> username </label>
                    <input type="text" name="username" size="15" /> <br> <br>
                </td>
            </tr>


            <tr>
                <td>
                    <label>   
            Phone :  
            </label>
                    <input type="text" name="country code" value="+91" size="2" />
                    <input type="text" name="phone" size="10" /> <br> <br>
                </td>
            </tr>
            <tr>
                <td>
                    Email:
                    <input type="email" id="email" name="email" /> <br>
                </td>
            </tr>
            <br> <br>
            <tr>
                <td>
                    Password:
                    <input type="Password" name="pass"> <br>
                    <br> <br>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="Submit" /></td>
            </tr>
    </form>
</body>

</html>